* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */
.debug-border {
    border: 1px solid black;
}

.debug-zone {
    background-color: yellow;
}

[class^="cl_left"],
[class^="cl_right"] {
    border: 1px solid orange;
}

/* Utility */
.container {
    margin: 0 auto;
    width: 70%;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #6b6c6c;
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.cl_left_50,
.cl_right_50 {
    width: 50%;
}

.green {
    color: #20ac97;
}

/* btn */
.btn {
    width: 230px;
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    text-align: center;
    background-color: #20ac97;
}

/* Header */
header {
    display: flex;
    background-color: #ebe9ed;
    background-image: url('../img/background-pattern-wavify.png');
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.nav .logo img {
    height: 30px;
    width: 160px;
}

.nav .nav-center i {
    font-size: 10px;
}

/* Header Jumbotron */
.jumbotron {
    margin-top: 30px;
    height: 450px;
}

[class^="cl_left"],
[class^="cl_right"] {
    float: left;
    height: 100%;
}

.jumbotron .cl_left_50 {
    display: flex;
    align-items: center;
}
.cl_left_50 .jumbo-text {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.cl_left_50 .jumbo-text h1 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.cl_left_50 .jumbo-text p {
    font-family: 'Roboto', sans-serif;
}


.cl_right_50 .img-rose {
    position: relative;
    height: 100%;
    width: 100%;
}
.cl_right_50 .img-rose img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.cl_right_50 .img-rose .z-1 {
    width: 65%;
    height: 70%;
    /* border: 1px solid red; */
}
.cl_right_50 .img-rose .z-2 {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
}

/* Nav vertical */
.nav-vertical {
    position: fixed;
    right: 0;
    top: 10%;
    background-color:white;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-vertical i {
    padding: 8px 5px;
    display: block;
}

/* Section Data */
.data {
    display: flex;
    align-items: center;
    height: 150px;
    margin: 5px 0;
}

.data .container {
    display: flex;
    justify-content: space-around;
}

.data .box {
    width: calc(100% / 4);
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-left: 1px dotted  #20ac97;
}
.data .box h2 {
    color: #20ac97;
    padding-bottom: 10px;
}

.data .box-last {
    border-right: 1px dotted #20ac97;
}

/* About me */
.about_me {
    height: 100%;
    margin-bottom: 100px;
}

.about_me .subtitle {
    height: 30px;
}
.about_me .subtitle h2 {
    font-size: 15px;
    line-height: 30px;
    color: #20ac97;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.about_me .pt-top {
    height: 180px;
    margin-bottom: 30px;
}
.about_me .pt-top .cl_left_50 h1 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.about_me .pt-top .cl_right_50 {
    font-family: 'Roboto', sans-serif;
}
.about_me .pt-top .cl_right_50 h3 {
    margin-bottom: 10px;
}

.about_me .pt-top .cl_right_50 p {
    color: #9aa2a6;
}

.about_me .pt-bottom {
    height: calc(550px - 30px - 180px);
}
.about_me .pt-bottom .cl_left_55 {
    position: relative;
    width: 55%;
}
.about_me .pt-bottom .cl_left_55 .img-youtube{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about_me .pt-bottom .cl_left_55 .icon-youtube{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.about_me .pt-bottom .cl_right_45 {
    width: 45%;
    position: relative;
}
.about_me .pt-bottom .cl_right_45 .cit {
    padding-left: 10%;
    padding-right: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.about_me .pt-bottom .cl_right_45 .cit p{
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}
.about_me .pt-bottom .cl_right_45 .cit  img{
    height: 20px;
    width: 30px;
    margin: 5px 0;
}
.about_me .pt-bottom .cl_right_45 .cit h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.about_me .pt-bottom .cl_right_45 .cit p:last-child{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif
}

/* Curses */
.course {
    margin: 50px 0;
}

.course .text-course {
    text-align: center;
}
.course .text-course p {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.course .text-course h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.course .row {
    display: flex;
    justify-content: space-between;
}

.course .row .box-course {
    height: 350px;
    width: 300px;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}
.box-course .img-course {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}
.box-course .info-course {
    height: calc(350px - 200px - 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 15px;
}
.box-course .info-course .price-course {
    font-weight: bold;
    font-size: 20px;
}
.box-course .info-course .price-course .min-px {
    font-size: 15px;
}
.box-course .info-course .title-course {
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.box-course .info-lessons-course {
    display: flex;
    margin-top: 10px;
}
.box-course .info-lessons-course .lessons-course {
    margin-right: 20px;
}

.course .btn-course {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

/* Book*/
.book-store {
    height: 350px;
    width: 100%;
}
.book-store .top-book-store {
    height: 300px;
}
.book-store .bottom-book-store {
    height: calc(350px - 300px);
    display: flex;
    align-items: center;
}

.book-store .cl_left_45 {
    width: 45%;
}
.book-store .cl_left_45 .top-book-store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-store .cl_left_45 .top-book-store h2 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.book-store .cl_left_45 .top-book-store h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}


.book-store .cl_right_55 {
    width: 55%;
}
.book-store .cl_right_55 .top-book-store,
.book-store .cl_right_55 .bottom-book-store {
    display: flex;
    justify-content: space-between;
}

.book-store .cl_right_55 .box-book {
    height: 100%;
    width: 45%;
}

.book-store .cl_right_55 .top-book-store .box-book img {
    height: 100%;
    width: 100%;
}

.book-store .cl_right_55 .bottom-book-store .box-book {
    text-align: center;
}
.book-store .cl_right_55 .bottom-book-store .box-book h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.book-store .cl_right_55 .bottom-book-store .box-book .price-book {
    font-weight: bold;
    font-size: 20px;
}
.book-store .cl_right_55 .bottom-book-store .box-book .price-book .min-px {
    font-size: 15px;
}

/* Collaborate */
.collaborate {
    margin: 10px 0;
    height: 200px;
}